.header {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 35;
  padding: 35;
  box-sizing: border-box;
}

select {
  padding: 5px;
}

/* Using this to try to change the color of the text inside the select but it isn't working */
option {
  color: #2a2e37;
}

html {
  /* font-size: 20px; */
}

/* #site-title {
  font-family: 'Cairo', sans-serif;
  font-size: 75px;
} */

/* :root {
  --my-color: #fff;
  /* can add more variables/styles here
}
/* [data-theme='dark'] {
  --my-color: #000;
} */
/* [data-theme='pink'] {
  --my-color: #ffabc8;
} */

/* body {
  background-color: var(--my-color);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --my-color: #252b30;
  }
}
